body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  .header img {
    width: 50px;
    vertical-align: middle;
  }
  
  form {
    margin: 2em auto;
    width: 50%;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .book-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .book-button:hover {
    background-color: #45a049;
  }
  